<div class="wikia-logo-loader" style="width: {{radius}}px; height: {{radius}}px; margin: -{{halfRadius}}px 0 0 -{{halfRadius}}px;">
	<div class="dot dot-left" style="border-width: {{strokeWidth}}px;"></div>
	<div class="dot dot-right" style="border-width: {{strokeWidth}}px;"></div>
</div>
