<div {{action 'close'}} class="lightbox-close-wrapper">
	{{svg 'close' role='img' class='lightbox-close-button pointer-events-none'}}
</div>
{{community-badge}}
{{parsedMessage}}
<button {{action 'close'}}>Got it.</button>
