<p class="hero-mobile"></p>
<div class="hero">
	<div id="carousel-hero" class="hero-carousel">
		{{#each heroSlider}}
			<div>
				<img src="{{image}}">
				<div class="hero-text">
					<h1>{{title}}</h1>
					<h2>{{subtitle}}</h2>
					{{#if button}}
						<h3>
							<input type="button" value="{{buttonText}}" id="{{buttonId}}">
						</h3>
					{{/if}}
				</div>
			</div>
		{{/each}}
	</div>
	<div id="hero-prev" class="hero-prev">
		<img src="/images/slider-back-button.png">
	</div>
	<div id="hero-next" class="hero-next">
		<img src="/images/slider-fwd-button.png">
	</div>
</div>
